@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  height: 100vh;
}

// src/atoms/input for hovering label
.input {
  &__input {
    border-width: 1px;
    &:not(:focus) + label {
      color: rgba(70, 70, 70, 1);
    }
    &:focus {
      outline: none;
      border-color: rgba(37, 99, 235, 1);
    }
  }
  &__label {
    top: 0%;
    transform: translateY(-50%);
    font-size: 11px;
    color: rgba(37, 99, 235, 1);
  }
}
