// Screen Breakpoints
$MEDIUM_SCREEN: 641px;
$LARGE_SCREEN: 1025px;
$XLARGE_SCREEN: 1441px;
$XXLARGE_SCREEN: 1921px;

$MAIN_FONT: "Ubuntu Light", sans-serif;
$SEC_FONT: "Ubuntu Regular", sans-serif;

// Fonts CDN
$FONTS_CDN: "https://cdn-e-and-b-solutions.s3.amazonaws.com/resources/fonts";
